body {
    background: url("http://10steps.sg/wp-content/uploads/2012/11/White-christmas-light-background.jpg");
}
li {
    font-family: 'Montserrat', sans-serif;
}
img {
    height: 300px;
    width: auto;
}
h1 {
    font-family: 'Montserrat', sans-serif;
}
a {
    color: black;
    font-family: 'Cookie', cursive;
    font-size: 30px;
}
a:hover {
    color: gray;
}