body {
    background: url("http://10steps.sg/wp-content/uploads/2012/11/White-christmas-light-background.jpg");
}
a {
    font-family: 'Cookie', cursive;
    color: white;
    font-size: 90px;
}
.snake {
    background: url("https://s-media-cache-ak0.pinimg.com/736x/e6/92/5e/e6925ecc9286a8a2773d616e0babe709.jpg");
    margin-left: 600px;
    margin-right: auto;
    border-style: solid;
}
.bird {
    background: url("http://bgfons.com/upload/feather_texture1462.jpg");
    margin-left: 600px;
    margin-right: auto;
    border-style: solid;
}
.dog {
    background: url("http://waggingworld.com/wp-content/uploads/2013/09/puppy_paw_4bdab881844b2.jpg");
    margin-left: 600px;
    margin-right: auto;
    border-style: solid;
}
.snake:hover, .bird:hover, .dog:hover {
  color: gray;
}
.home {
    font-size: 30px;
    color: black;
}
.home:hover {
    color: gray;
}