h1 {
    font-family: 'Cookie', cursive;
    margin-left: 660px;
    margin-right: auto;
    font-size: 70px;
}    

body {
    background: url("http://10steps.sg/wp-content/uploads/2012/11/White-christmas-light-background.jpg");
}
.img {
    height: 300px;
    width: auto;
    border-style: inset;
}
a {
    color: black;
}
a:hover {
    color: gray;
}
.new {
    border-style: inset;
}
title {
    font-family: 'Cookie', cursive;
    font-size: 70px;
    border-bottom: black;
}
.adv {
    height: 800px;
    width: 150px;
    border-style: dashed;
}
.footer {
    font-family: 'Cookie', cursive;
    margin-left: 660px;
    margin-right: auto;
    font-size: 36px;
}
.ok {
    font-family: 'Montserrat', sans-serif;
}
.kewl {
    font-family: 'Cookie', cursive;
    font-size: 35px;
}
.aw:hover {
    height: 100px;
    width: auto;
    border-style: inset;
    background: url("http://i.dailymail.co.uk/i/pix/2014/01/02/article-2532759-1A63098A00000578-608_306x439.jpg");
    color: white;
}
.pika:hover {
    height: 150px;
    width: auto;
    border-style: inset;
    background: url("https://martianoddity.files.wordpress.com/2012/05/800px-ash_pikachu_unable_to_battle.png");
    color: white;
}
.east:hover {
    height: 150px;
    width: auto;
    border-style: inset;
    background: url("https://s-media-cache-ak0.pinimg.com/236x/86/f6/dc/86f6dc70f9c0492eb16e00fb0877848c.jpg");
}
.phs:hover {
    height: 150px;
    width: auto;
    border-style: inset;
    background: url("http://buzzsharer.com/wp-content/uploads/2015/07/cute-english-bulldog.jpg");
    color: white;
}
.sm {
    width: 25px;
    height: auto;
}