body {
    background: url("http://10steps.sg/wp-content/uploads/2012/11/White-christmas-light-background.jpg");
}
.s {
    font-family: 'Cookie', cursive;
    font-size: 40px;
}
h1 {
    font-family: 'Cookie', cursive;
    margin-left: 400px;
    margin-right: auto;
    font-size: 70px;
}


